/* stylesheet */

body {
    padding-bottom: 360px;
}

button.selected {
	background-color: #5cb85c;
}

button.not-selected {
	background-color: #d9534f;
}

.area {
	background-color: #0084FF;
}

.signuplink {
   position:absolute;
   top:5;
   right:5;
}

#tutorial {
	text-align: center
}

.firsttime {
   float: right;
   padding-right: 85px;
   padding-top: 10px;
}

.title-twivia {
	text-align: left;
}

.shower {
	padding-top: 130px;
}

#logo2 {
	float: center;
	height: 40px;
	width: 150px;
	display: block;
    margin-left: 180px;
}

#logo {
	float: center;
	height: 40px;
	width: 150px;
	display: block;
}

#submit_button {
	margin: auto;
}

#signup_submit_button {
	margin: auto;
}

.range-boxes {
	width: 400px;
}

.signup {
	display: none;
}

#footer {
	background-color: #0084FF;
}

.twittertextcolor {
	color: #0084FF;
}

#next-q {
	display: none;
}

#login_button {
	display: none;
}

.empty-form1 {
	display: none;
}

.empty-form2 {
	display: none;
}

.empty-form3 {
	display: none;
}

h4 {
  text-align: center;
}

body {
	background-color: 
}

